

<link href="~/css/FormDesign.css" rel="stylesheet" />
<div class="container">
    <form action="Create" method="post">

        <div class="row">
            <div class="col-25">
                <label for="fname">Room Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="roomName" name="room_Name" placeholder="Room Name..." />
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" />
        </div>
    </form>
</div>


