@model List<Teacher>

<link href="~/css/FormDesign.css" rel="stylesheet" />
<div class="container">
    <form action="Create" method="post">


        <div class="row">
            <div class="col-25">
                <label for="fname">Course Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="coursename" name="course_Name" placeholder="Course Name..." maxlength="50" />
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="lname">Course Capicity</label>
            </div>
            <div class="col-75">
                <input type="number" id="courseCapicity" name="course_Capicity" max="25" min="0" />
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="Teacher">Select Teacher</label>
            </div>
            <div class="col-75">
                <select id="teacher" name="teacher_Id">
                    @foreach (Teacher teacher in Model)
                    {
                        <option value="@teacher.teacher_Id">@teacher.teacher_Name</option>
                    }
                </select>
            </div>
        </div>


        <div class="row">
            <input type="submit" value="Save" />
        </div>
    </form>
</div>


