@model List<Course>

<link href="~/css/Table.css" rel="stylesheet" />

<a class="nav-link text-dark" asp-area="" asp-controller="Course" asp-action="Create">Add New Course</a>
<br />
<table>
    <tr>

        <th>
            Course Name
        </th>
        <th>
            Course Capicity
        </th>
        <th>
            Delete
        </th>
    </tr>

    @foreach (Course course in Model)
    {
<tr>

    <td>
        @course.course_Name
    </td>
    <td>
        @course.course_Capicity

    </td>
    <td>
        <a href="/Course/Delete/@course.course_Id "> delete </a>
    </td>
</tr>

    }
</table>


