@model List<Teacher>

<link href="~/css/Table.css" rel="stylesheet" />

<a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="Create">Add New Teacher</a>
<br />
<table>
    <tr>
        <th>
            Teacher Name
        </th>
        <th>
            Teacher Age
        </th>
        <th>
            Delete
        </th>
    </tr>

    @foreach (Teacher teacher in Model)
    {
        <tr>
            <td>
                @teacher.teacher_Name
            </td>
            <td>
                @teacher.teacher_Age

            </td>
            <td>
                <a href="/Teacher/Delete/@teacher.teacher_Id "> delete </a>
            </td>
        </tr>

    }
</table>


